* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    background: white;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(logo.png);
    filter: drop-shadow(5px 5px 4px rgb(0, 0, 0))
  }
  
  /* Your CSS below here */
  .top{
    position: absolute;
    top: 0mm;
    background: linear-gradient(rgb(90, 90, 90), 50%, transparent);
  }

  .bottom{
    position: absolute;
    bottom: -1mm;
    background: linear-gradient(0deg, rgb(90, 90, 90), 50%, transparent);
  }